<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>first boilerplate</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div class="container">
  <h1 class="header">Welcome my friend :)</h1>
    <p>please <b>/register</b> if you don't have an account</p>
    <p>please <b>/login</b> if you have an account</p>
    <p>please <a href="/user">/user</a> to see users list</p>
</div>
</body>
</html>
