<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div class="container">
  <h1 class="header">Users list</h1>
    <code>
      <%= users %>
    </code>
</div>
</body>
</html>
